%aside.sidebar-container
  .sidebar-header
    .pull-right.pt-lg.text-muted.hidden
      %em.ion-close-round
    = link_to root_path, class: 'sidebar-header-logo' do
      %img{alt: "Logo Planning", src: "#{image_path 'centric/img/logo-planning.png'}"}
  .sidebar-content
    .sidebar-toolbar.text-center
      %a{href: "#"}
        %img.img-circle.thumb64{:alt => "Profile", src: "#{image_path 'centric/img/user/01.jpg'}"}/
      .mt
    %nav.sidebar-nav
      %ul
        %li{class: ('active' if controller? 'contact')}
          = link_to root_path, class: 'ripple' do
            %span.pull-right.nav-label
            %span.nav-icon
              %img.hidden{:alt => "MenuItem", "data-svg-replace" => "#{image_path 'centric/img/icons/levels.svg'}", :src => ""}
            %span Planning

.sidebar-layout-obfuscator


