!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %title Planning

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.theme-7
    .layout-container

      = render 'layouts/header'
      = render 'layouts/sidebar'
      %main.main-container
        %section
          = render 'shared/messages'
          = yield
          = yield :javascript_tag
